
#contact-form .submit-bttn 
{
    display: block;
    padding: 14px 47px;
    color: #fff;
    background-color: #131798;
    border: 2px solid transparent;
    border-radius: 5px;
}
#contact-form .submit-bttn:hover
{
    background-color:#090b40;
    transition: background-color 0.5s ease-out;
}

#contact-form input[type=email], #contact-form input[type=tel], #contact-form input[type=text], #contact-form textarea.my-textarea
{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0 0 10px;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #8a8a8a;
    background-color: transparent;
    border: 2px solid #dce6f5;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    height: auto;
}
.contact-and-appointment .contact-left
{
    background-image: url("../images/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 105%;
    height: 119%;
}
